{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ 'board_game.edit_page.title'|trans({
        '%name%': game.name
    }) }}</h1>
    {{ include('board_game/_form.html.twig', {form: edit_form, action: 'board_game.action.edit'|trans}) }}
{% endblock %}
