{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des jeux de société</h1>
<ul>
    {% for board_game in board_games %}
    <li>{{ board_game.name }}
        <a href="{{ path('app_boardgame_show', { id: board_game.id }) }}">
            Voir
        </a></li>
    {% endfor %}
</ul>
{% endblock %}
