{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ 'board_game.new_page.title'|trans }}</h1>
    {{ include('board_game/_form.html.twig', {form: new_form, action: 'board_game.action.new'|trans}) }}
{% endblock %}

